kaggle
pyfstat
numpy
scipy
matplotlib
h5py
pre-commit
torch==1.12.1 # needed for efficientnet
torchvision==0.13.1 # needed for efficientnet
efficientnet-pytorch
fastai
colorama
tensorboard
timm
